<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="{{logoutVisible() ? '/dashboard' : '/'}}">Klassenbuch</a>

    <div *ngIf="dataService.getLoggedInUser()!==undefined" class="navbar-right">
      <div class="navbar-text">
        Angemeldet als {{dataService.getTeacher(dataService.getLoggedInUser()).firstName}}, {{dataService.getTeacher(dataService.getLoggedInUser()).lastName}}</div>
      <a href="#" class="btn btn-outline-danger">Logout</a>
    </div>

  </div>

</nav>
<router-outlet></router-outlet>
