<div class="container">
  <div class="jumbotron">

    <h1>Willkommen!</h1>
    Vielen Dank dass sie sich für das digitale Klassenbuch entschieden haben. Zur leichteren Einarbeitung wurden bereits Beispieldaten
    für sie generiert. Auf dem praktischen Dashboard finden sie alle notwendigen Schnellzugriffe, um ihre Arbeit zu erleichtern.
    Aus Sicherheitsgründen werden alle notwendigen Daten in ihrem Browser gespeichert, was ihnen eine sorglose Benutzung
    gewährleistet.

    <h2>Notfallsicherheit</h2>
    Egal was passiert, das digitale Klassenbuch lässt sie nicht im Stich. Im Notfall steht ihnen der Wurzelbenutzer zur Verfügung
    um Datenverlust zu verhindern.

    <h2>Modernes Design</h2>
    Erleben sie neuste Webtechnologien im Einsatz um Ihnen das bestmögliche Benutzererlebnis zu gewährleisten. Dabei wurde auf
    unnötig verzögernde Animationen verzichtet um ein effizientes und entspanntes Arbeiten zu ermöglichen.

    <h2>Effizienz</h2>
    Verwalten sie ihre Klassenbucheinträge mit bisher ungewohnter Effizienz. Hinzufügen, Bearbeiten, Anschauen - alles notwendige
    in wenigen Klicks erreichbar und auf einen Blick sichtbar, dadurch zeichnet sich das digitale Klassenbuch durch exzellente
    Simplizität aus.
    <br>
    <div class="pull-right">
      <a class="btn btn-outline-success" routerLink="{{'/dashboard'}}">Los geht's!</a>
    </div>
  </div>
</div>
