<div class="container">
  <div class="row">
    <div class="col">
      <a routerLink="/teacher" routerLinkActive="true">
        <div class="jumbotron text-center">
          <h2><i class="fa fa-user" aria-hidden="true"></i></h2>
          <h2>Lehrer</h2>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/class" routerLinkActive="true">
        <div class="jumbotron text-center">
          <h2><i class="fa fa-address-book" aria-hidden="true"></i></h2>
          <h2>Klassen</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/pupil" routerLinkActive="true">
        <div class="jumbotron text-center">
          <h2><i class="fa fa-users" aria-hidden="true"></i></h2>
          <h2>Schüler</h2>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/notes" routerLinkActive="true">
        <div class="jumbotron text-center">
          <h2><i class="fa fa-comment" aria-hidden="true"></i></h2>
          <h2>Einträge</h2>
        </div>
      </a>
    </div>
  </div>
</div>
