<div class="container">
  <div class="container col-sm-4">
    <a routerLink="/teacher" routerLinkActive="true">
      <div class="jumbotron text-center">
        <h2>Lehrer</h2>
      </div>
    </a>
  </div>
  <div class="container col-sm-4">
    <a routerLink="/class" routerLinkActive="true">
      <div class="jumbotron text-center">
        <h2>Klassen</h2>
      </div>
    </a>
  </div>
  <div class="container col-sm-4">
    <a routerLink="/pupil" routerLinkActive="true">
      <div class="jumbotron text-center">
        <h2>Schüler</h2>
      </div>
    </a>
  </div>
</div>
